* {
    margin: 0;
    padding: 0;
  }
.container {
    display: grid;
    grid-template-columns: 200px 800px;
    grid-template-rows: 200px 1000px;

}

.sidebar{
    background-color: skyblue;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 100px 200px 200px;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.searchbar{
    grid-column: 1/3;
    
}
.buttons{
    grid-column: 2/3;
}

.main{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.projects{
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

